# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.log
config.guess
config.h.in
config.h
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
src/gui/.deps/
src/gui/.dirstamp
stamp-h1

# Results
src/sim
logfile.log